.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Ehthumbs.db
Desktop.ini


__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

node_modules/

DESIGN.md